body {
#font-family:"century gothic";
#font-family:"Lucida Console";
background-color:#ffffff;
padding-top:  60px;
padding-bottom: 40px;
}

td
{
padding: 5px;
}

.panel-body{
        height:200px;
}

.graphTooltip {
        position: absolute;
        display: none;
        border: 2px solid #4572a7;
        padding: 2px;
        background-color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        font-family: MS, serif;
        opacity: 0.80;
}


.chartdiv {
	width: 70vw;
	height: 70vh;
}

.labeldiv {
	width: 15vw;
	height: 70vh;
}

.tab-pane {
	width: 90vw;
	height: 90vh;
}

input[type="button"]:disabled
{
cursor: not-allowed;
background:#eeeeee;
color: graytext;
}

input[type="submit"]:disabled
{
cursor: not-allowed;
background:#eeeeee;
color: graytext;
}

.many .dygraph-legend > span { display: none; }

.many .dygraph-legend > span.highlight { display: inline; }

